<nav>
  <a href="/">Home</a> |
  <a href="/about">About</a> |
  <a href="/workouts/search">Search</a>
  <% if (user) { %>
    | <a href="/workouts/add-workout">Add Workout</a> |
    <a href="/workouts/list">My Workouts</a> |
    <span>Hi, <%= user.username %></span> |
    <a href="/logout">Logout</a>
  <% } else { %>
    | <a href="/login">Login</a> |
    <a href="/register">Register</a>
  <% } %>
</nav>
