<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include('partials/nav') %>
  <h1>Protected</h1>
  <p>Welcome, <%= user.username %>.</p>
</body>
</html>
